<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <arg name="map" default="fuar.yaml"></arg>
    <arg name="use_dwa_planner" default="true"></arg>
    <arg name="use_ekf" default="false"></arg>

    <node 
        name="map_server"
        pkg="map_server" 
        type="map_server" 
        args="$(find hamal_mapping)/maps/$(arg map)"> 
    </node>

    <include file="$(find hamal_navigation)/launch/hamal_navigation.launch">
        <arg name="use_dwa_planner" value="$(arg use_dwa_planner)"></arg>   
        <arg name="use_ekf" value="$(arg use_ekf)"></arg>
        
        <remap from="/cmd_vel" to="/hamal/mobile_base_controller/cmd_vel"></remap>
    </include>

    <node pkg="hamal_localization" type="position_saver" name="position_saver">
        <rosparam command="load" file="$(find hamal_localization)/config/pos_saver_config.yaml" />
    </node> 

    <node pkg="hamal_utils" type="costmap_cleaning_node" name="costmap_cleaning_node"></node>

    <node 
        pkg="slam_toolbox" 
        type="localization_slam_toolbox_node"
        name="slam_toolbox"
        output="screen"    
        >
        <rosparam
            command="load"
            file="$(find hamal_mapping)/config/sbox_localization.yaml"
            >
        </rosparam>
    </node>

</launch>