<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        respawn="false"
        output="screen"
    >
        <param name="publish_frequency" value="100.0"></param>
    </node>

    <include file="$(find hamal_hardware)/launch/hamal_hardware.launch"></include>
    
    <include file="$(find hamal_control)/launch/hamal_control.launch"></include>

</launch>